/* DivTable.com */
.divTable{
	display: table;
	width: 50%;
}
.divTableRow {
	display: table-row;
    background-color: aqua;
}
.divTableCell  {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableBody {
	display: table-row-group;
}